.toast-message{
    position: fixed;
    z-index: 999;
    top: 2 rem;
    right: 2 rem;
    background-color: green;
    color: black;
    border: 1px solid white;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 8px black;
}
.input-group{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    position: relative;
    overflow: hidden;
}
/* .input-icon{
    position: absolute;
    padding: 0.5rem;
    background-color: white;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    color: black;
} */